<section id="connect" class="connect-section">
  <div class="connect-container">
    <div class="connect-grid">
      <div class="connect-left">
        <span class="section-label">GET IN TOUCH</span>
        <h2 class="connect-heading">Let's Connect</h2>

        <div class="connect-list">
          <div class="connect-item">
            <span class="connect-icon" aria-hidden="true">
              <svg viewBox="0 0 24 24" role="img" focusable="false">
                <path d="M4.5 6.5h15a1.5 1.5 0 0 1 1.5 1.5v8a1.5 1.5 0 0 1-1.5 1.5h-15A1.5 1.5 0 0 1 3 16V8a1.5 1.5 0 0 1 1.5-1.5Zm0 1.5v.2l7.5 4.6 7.5-4.6V8h-15Zm15 8v-6.4l-7.5 4.6-7.5-4.6V16Z"/>
              </svg>
            </span>
            <div class="connect-text">
              <span class="connect-title">Email</span>
              <a class="connect-value" href="mailto:shpe.pvamu@gmail.com">shpe.pvamu@gmail.com</a>
            </div>
          </div>

          <div class="connect-item">
            <span class="connect-icon" aria-hidden="true">
              <svg viewBox="0 0 24 24" role="img" focusable="false">
                <path d="M12 7.1a4.9 4.9 0 1 1 0 9.8 4.9 4.9 0 0 1 0-9.8Zm0 1.8a3.1 3.1 0 1 0 0 6.2 3.1 3.1 0 0 0 0-6.2Zm6.2-3.4a1.2 1.2 0 1 1 0 2.4 1.2 1.2 0 0 1 0-2.4ZM7.3 3h9.4A4.3 4.3 0 0 1 21 7.3v9.4A4.3 4.3 0 0 1 16.7 21H7.3A4.3 4.3 0 0 1 3 16.7V7.3A4.3 4.3 0 0 1 7.3 3Zm0 1.8A2.5 2.5 0 0 0 4.8 7.3v9.4a2.5 2.5 0 0 0 2.5 2.5h9.4a2.5 2.5 0 0 0 2.5-2.5V7.3a2.5 2.5 0 0 0-2.5-2.5Z"/>
              </svg>
            </span>
            <div class="connect-text">
              <span class="connect-title">Instagram</span>
              <a class="connect-value" href="https://www.instagram.com/pvamushpe/">@pvamushpe</a>
            </div>
          </div>

          <div class="connect-item">
            <span class="connect-icon" aria-hidden="true">
              <svg viewBox="0 0 24 24" role="img" focusable="false">
                <path d="M6.2 6.4h11.6a1.8 1.8 0 0 1 1.8 1.8v7.6a1.8 1.8 0 0 1-1.8 1.8H6.2a1.8 1.8 0 0 1-1.8-1.8V8.2a1.8 1.8 0 0 1 1.8-1.8Zm0 1.8v7.6h11.6V8.2Zm3.1 11.1h5.4c.5 0 .9.4.9.9s-.4.9-.9.9H9.3a.9.9 0 1 1 0-1.8Zm2.7-15.6a.9.9 0 0 1 .9.9v1.3a.9.9 0 1 1-1.8 0V4.6c0-.5.4-.9.9-.9Z"/>
              </svg>
            </span>
            <div class="connect-text">
              <span class="connect-title">Linktree</span>
              <a class="connect-value" href="https://linktr.ee/pvamushpe">linktr.ee/pvamushpe</a>
            </div>
          </div>

          <div class="connect-item">
            <span class="connect-icon" aria-hidden="true">
              <svg viewBox="0 0 24 24" role="img" focusable="false">
                <path d="M12 2.5a7 7 0 0 1 7 7c0 5.3-7 12-7 12s-7-6.7-7-12a7 7 0 0 1 7-7Zm0 3.1a3.9 3.9 0 1 0 0 7.8 3.9 3.9 0 0 0 0-7.8Zm0 1.8a2.1 2.1 0 1 1 0 4.2 2.1 2.1 0 0 1 0-4.2Z"/>
              </svg>
            </span>
            <div class="connect-text">
              <span class="connect-title">Location</span>
              <span class="connect-value">Prairie View A&amp;M University</span>
              <span class="connect-value">Prairie View, TX 77446</span>
            </div>
          </div>
        </div>
      </div>

      <div class="connect-right">
        <div class="connect-map-card">
          <!-- Replace the iframe src with your Google Maps embed URL. -->
          <iframe
            class="connect-map-frame"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11610.920737725235!2d-95.99721309834761!3d30.09569307804158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8646cc0a5cf0f4f1%3A0x103242a0436c12b2!2sPrairie%20View%20A%26M%20University!5e0!3m2!1sen!2sus!4v1769330424598!5m2!1sen!2sus"
            referrerpolicy="no-referrer-when-downgrade"
            title="Prairie View A&amp;M University map">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</section>
